POSTGRES_USER=*YOUR_USERNAME*
POSTGRES_PASSWORD=*YOUR_PASSWORD*
POSTGRES_DB_NAME=library
ConnectionStrings__DBCon="Server=localhost;Port=5432;Database=${POSTGRES_DB_NAME};User Id=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"